@*capture the model that we passed from category controller*@
@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_UserLayout";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Booking List</h2>
        </div>
    </div>

<table class="table table-bordered table-striped" style="width:100%; background: rgba(0, 0, 0, 0.3);">
    <thead>
        <tr>
            <th>
                Flight Id
            </th>
            <th>
                Flight Name
            </th>
            <th>
                Source
            </th>
            <th>
                Destination
            </th>
            <th>
                Cost
            </th>
            <th>
                Name
            </th>
            <th>
                Cancel Booking
            </th>
        </tr>
    </thead>
    <tbody>
        @*iterate through all of the properties in the model*@
        @foreach(var obj in Model)
        {
                if (obj.email == @ViewBag.email)
                {

                    <tr style="text-align:center">
                        <td width=10%>
                            @obj.flightid
                        </td>
                        <td width=10%>
                            @obj.name
                        </td>
                        <td width=10%>
                            @obj.source
                        </td>
                        <td width=10%>
                            @obj.destination
                        </td>
                        <td width=10%>
                            @obj.cost
                        </td>
                        <td width=10%>
                            @obj.FName @obj.LName
                        </td>
                        <td>
                            <a asp-controller="UserHome" asp-action="Delete" asp-route-id="@obj.BookingId" class="btn btn-danger" style="font-size:small; height:30px">
                                <i class="bi bi-trash-fill"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a asp-controller="UserHome" asp-action="Index" asp-route-email="@ViewBag.email" class="btn btn-success" style="font-size:small; height:30px">
        <i class="bi bi-house-fill"></i>
	    Home
    </a>
</div>
