@*@model IEnumerable<RouteDetails1.Models.Route>*@
@model IEnumerable<FlightReservationSystem_MVC_.Models.Route>
@{
    Layout = "_AdminLayout";
}
@{
    ViewData["Title"] = "Index";
}
@*

<h1>Index</h1>

<a asp-controller="Routes" asp-action="Create" class="btn btn-secondary" style="width:150px">
Create New
</a>
*@
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Routes List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Routes" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Add new reoute
            </a>
        </div>
    </div>

<table class="table table-bordered table-striped" style="width:100%; background: rgba(0, 0, 0, 0.3);">
    <thead>
        <tr>
            <th>
               Route Id
            </th>
            <th>
               Form
            </th>
            <th>
                To
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model) {
        <tr>
            <td>
                @item.RouteID
            </td>
            <td>
                @item.FromRoute
            </td>
            <td>
                @item.ToRoute
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RouteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RouteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
